.grids{
    display: grid;
    grid-template-columns:  repeat(3,1fr)
}

.center{
    border: 1px solid lightgray;
    padding: 8px;
    border-radius: 10px;
} 

/*make service responsive*/

@media only screen and (max-width:576px) {
    .grids{
        grid-template-columns: repeat(1,1fr);
    }
}

@media only screen and (min-width:577px) and (max-width: 992px) {
    .grids{
        grid-template-columns: repeat(2,1fr);
    }
    
}