.grid{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
}

/*make service responsive*/

@media only screen and (max-width:576px) {
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
}

@media only screen and (min-width:577px) and (max-width: 992px) {
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
    
}