.style{
    width: 400px;
    padding: 40px;
    height: 450px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  22px 22px 44px #9d9d9d,
             -22px -22px 44px #ffffff;
}  
.btn{
    border-radius: 15px;
}


